@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap");

:root {
    --primary-color: #023051;
    --secondary-color: #567a9d;
}

h1{
    color: var(--primary-color);
}

body{
    font-family: "Ubuntu";
    background: white;
    margin: 0;
}

.navbar{
    background: var(--primary-color);
}

.container {
    display: flex;
    align-items: center;
}

.navbar .logo img{
    width: 50px;
    height: auto;
    margin: 0;
    padding: 0;
  align-self: left;

}

.navbar nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0 15px;
    overflow: hidden;
    align-self: right;
}

.navbar nav ul li{
    display: inline;
    float: right;
    padding: 10px 15px;
}

.navbar .navigation a{
    display: block;
    color: white;
    text-align: right;
    padding: 0;
    text-decoration: none;
}

.navbar .navigation a:hover{
    color: #111;
}

.navbutton{
    text-decoration: none;
    color: white;
    position: absolute;
}

.navbutton:hover{
    color: black;
}

.map{
    border:3px solid var(--primary-color);
    width: 600px;
    height: 450px;
}