@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap");

:root{
    --primary-color: #023051;
    --secondary-color: #567a9d;
}

h1{
    color: var(--primary-color);
}

body{
    font-family: "Ubuntu";
    background: white;
    margin: 0;
}

.navbar{
    background: var(--primary-color);
}

.container{
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    height: auto;
    margin: 0;
    padding: 0;
    align-self: left;
}

.navbutton{
    text-decoration: none;
    color: white;
    position: absolute;
}

.navbutton:hover{
    color: black;
}

.map{
    border:3px solid var(--primary-color);
    width: 600px;
    height: 450px;
    position: absolute;
    right: 10px;
}