@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap");

:root {
    --primary-color: #131e75;
    --secondary-color: #b9d9eb;
}

body{
    font-family: "Ubuntu";
}

h1 {
    color: var(--primary-color);
}

iframe.map{
    border-style: solid;
    border-color: var(--primary-color);
}